# Python
__pycache__/
*.py[cod]

# Virtual Environment
.venv/
venv/
env/

# SQLite
db.sqlite3

# Media
media/

# Collected static
staticfiles/

# IDE
.idea/
.vscode/

# Environment
.env

# Logs
*.log

# OS
Thumbs.db
.DS_Store

# Executables
ngrok.exe