{% extends 'base.html' %}

{% block title %}تغییر رمز عبور{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card auth-premium-card p-4 p-md-5 rounded-4 shadow-lg">
                <h3 class="mb-4 text-white fw-bold text-center">🔒 تغییر رمز عبور</h3>

                <form method="post" class="premium-form text-light">
                    {% csrf_token %}

                    <div class="mb-4">
                        {{ form.as_p }}
                    </div>

                    <button type="submit" class="btn btn-warning w-100 fw-bold py-2.5 rounded-pill shadow-sm">
                        ✨ ذخیره رمز عبور جدید
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}