{% extends 'base.html' %}

{% block title %}تغییر رمز موفقیت‌آمیز بود{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card auth-premium-card p-4 p-md-5 rounded-4 shadow-lg text-center">
                <div class="fs-1 text-success mb-3">🎉</div>
                <h4 class="text-white fw-bold mb-3">تغییر رمز عبور با موفقیت انجام شد!</h4>
                <p class="text-secondary small lh-base mb-4">
                    رمز عبور شما با موفقیت به‌روزرسانی شد. اکنون می‌توانید با اطلاعات جدید وارد حساب خود شوید.
                </p>

                <a href="{% url 'login' %}" class="btn btn-warning fw-bold py-2 rounded-pill px-4 shadow-sm">
                    🚀 ورود به حساب کاربری
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}