{% extends 'base.html' %}

{% block title %}تعیین رمز عبور جدید{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card auth-premium-card p-4 p-md-5 rounded-4 shadow-lg text-center">
                <h3 class="mb-4 text-white fw-bold">🔒 رمز عبور جدید</h3>

                <form method="post" class="premium-form text-start text-light">
                    {% csrf_token %}

                    <div class="mb-4">
                        {{ form.as_p }}
                    </div>

                    <button type="submit" class="btn btn-warning w-100 fw-bold py-2.5 rounded-pill shadow-sm">
                        ✨ ثبت و تغییر رمز عبور
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}